<footer class="bg-[#E0555F] font-bold text-white p-4 w-full flex flex-col items-center">
  <nav class="max-w-[1000px] flex justify-between items-center m-auto text-center">
    <p>Made by Kyle, Reagan, Wesley</p>
  </nav>
</footer>
