<header class="bg-[#E0555F] font-bold text-white p-4 w-full">
  <nav class="max-w-[1000px] flex justify-between items-center m-auto">
    <p>Mistralton</p>
    <div class="flex gap-4">
    </div>
  </nav>
</header>
