<div class="relative sm:px-4 py-5 w-full min-h-[50vh] md:min-h-[60vh]">
  <div class="absolute inset-0 z-0 bg-gradient-to-b from-[#4D5A88] to-[#A9DEE7]">
    <div class="px-4 max-w-[1000px] mx-auto flex flex-wrap items-center relative mb-4 flex-col-reverse text-center mt-12">
      <img class="absolute left-1/2 opacity-25 top-40" src="/Ducklett.png" />
      <div class="flex flex-col items-center justify-center gap-4">
        <div class="mb-8 lg:m-0 flex flex-col items-center">
          <h1 class="font-extrabold text-4xl lg:text-6xl text-center text-white max-w-[800px]">
            The <span class="gradientText">future</span> of software development
          </h1>
          <p class="mt-6 text-base md:text-lg text-white text-left max-w-3xl mx-auto">
            Fly like windblown leaves as we pursue our future careers in tech.
          </p>
          <img class="mt-6 w-[300px] h-[169px] md:w-[560px] md:h-[315px]" src="/Swanna.png" title="YouTube video player" />
          <a href="#projects">
            <button class="bg-gray-700 mr-4 border-none text-white font-bold py-4 px-6 text-center rounded-md float-left mt-6 transition duration-500 hover:bg-gray-600">
              Projects
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
	.gradientText {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(45deg, #496ee6 0%, #05c1fa 100%);
    -webkit-background-image: linear-gradient(45deg, #496ee6 0%, #05c1fa 100%);
    color: transparent;
	}
</style>