---
import Project from "./Project.astro"

---

<h2 class="text-white mt-40 text-center text-3xl font-bold">Projects</h2>
<div class="flex flex-col items-center">
  <Project idx={1} img="/Temp.jpg" title="Treasure Hacks" description="Participated in the Treasure Hacks 3 hackathon, our first hackathon. We created a Tauri app, utilizing a Next.js UI and Rust backend, coupling it with an Astro landing page. We finished top 10% overall." />
  <Project idx={2} img="/img2.png" title="Web Dev Evaluator" description="Collaborative full-stack project between Kyle and Wesley. Made with Next.js and a Rust backend, as well as using Python to generate visualization and sentiment analysis." />
</div>