<div class="flex items-center flex-col">
  <h2 class="text-4xl mb-4 font-bold text-white">Mistralton</h2>
  <p class="text-black">A hackathon team, budding software engineers, and college friends.</p>
</div>