<div class="flex items-center justify-center mt-20 gap-8">
  <div>
    <img class="rounded-full" src="/Kyle.jpg" width="150"/>
  </div>
  <div>
    <img class="rounded-full" src="/Reagan.jpg" width="150" />
  </div>
  <div>
    <img class="rounded-full" src="/Wesley.jpg" width="150" />
  </div>
</div>