---
import Member from "./Member.astro"
import TeamImages from "./TeamImages.astro";

---

<div class="flex flex-col items-center">
  <TeamImages />
  <Member name="Kyle Leung" major="Geography: Data Science" position="Frontend Engineer" skills={["/ts.png", "/react.png", "/next.png"]} img="Kyle"
  desc="Senior at UW, studying Geography Data Science"/>
  <Member name="Reagan Vu" major="Computer Science & Software Engineering" position="UI/UX Designer" skills={["/C++.png", "/Premiere.png", "/Java.png"]} img="Reagan"
  desc="3rd Year Student at UW studying Computer Science & Software Engineering."/>
  <Member name="Wesley Nguyen" major="Geography: Data Science" position="Fullstack Engineer" skills={["/ts.png", "/react.png", "/next.png"]} img="Wesley"
  desc="Recent UW undergraduate with a Bachelor's in Geography: Data Science. Aspiring frontend or full-stack engineer currently seeking employment."/>
</div>